# Angular
parkease-angular/node_modules/
parkease-angular/dist/
parkease-angular/.angular/
parkease-angular/.env
parkease-angular/*.env.*

# Build folders
**/target/
**/build/
**/out/

# IDE files
.idea/
*.iml
.vscode/

# Logs
*.log

# Env / secret files
.env
**/.env
**/application-local.properties
**/application-secret.properties
**/application-dev.properties

**/.claude/